<p class="text-3xl mt-5">Question set</p>

<div>
	<ol>
		<% @questions.each do |question| %>
			<li>
				<%= question.question %>
			</li>
		<% end %>
	</ol>

	<div class="flex justify-center items-center py-8 space-x-5">
		<%= link_to "Add new question", new_question_path, class: "neon neon-green"%>
		<%= link_to "Go to menu", menu_path, class: "neon neon-red"%>
	</div>


</div>