<p class="text-3xl mt-5">Edit team</p>

<%= render "form", team: @team %>

<br>

<div class="flex justify-center space-x-3">
  <%= link_to "Back to teams", teams_path, class: "neon neon-gray" %>
  <%= button_to "Destroy this team", @team, method: :delete, class: "neon neon-red" %>
</div>
