<div class="row">
  <div class="col">

    <p class="text-3xl mt-5">New team</p>
    <%= render "form", team: @team  %>

    <div class="flex justify-center items-center py-8 space-x-5">
      <%= link_to "Back to teams", teams_path, class: "neon neon-gray" %>
    </div>
  </div>
</div>

