<div class="row">
  <div class="col">

    <p class="text-3xl mt-5"><%= t('menu.scoreboard.new')%></p>
    <%= render "form", team: @team  %>

    <div class="flex justify-center items-center py-8 space-x-5">
      <%= link_to t('back.toTeams'), teams_path, class: "neon neon-gray" %>
    </div>
  </div>
</div>

