<div class="neon neon-text neon-red mb-5">
	<%= t('game.scoreboard') %>
</div>
<% @team_scoreboard.each do |t| %>
	<p class="text-lg neon-text neon-green">
		<%= t['team'].name %> <%= t['score'] %> points <br>
	</p>
<% end %>