<div class="row">
  <div class="col">

    <p class="text-3xl mt-5"><%= t('menu.game.new')%></p>
    <%= render "form", game: @game  %>

    <div class="flex justify-center items-center py-8 space-x-5">
      <%= link_to t('back.toGame'), games_path, class: "neon neon-gray" %>
    </div>
  </div>
</div>