input[type=number], input[type=text], textarea {
  width: 40%;

	border: var(--clr-neon) 2px solid;
	border-radius: 0.25em;

	
  color: var(--clr-neon);
	background-color: transparent;

	text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
	box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

input[type=number], input[type=text]:focus, textarea:focus {
	border: var(--clr-neon) 3px solid;
}

body{
  background: url("https://s3.us-west-2.amazonaws.com/secure.notion-static.com/3e0f597d-f95d-4b79-9119-70f5833d9227/background.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220502%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220502T133153Z&X-Amz-Expires=86400&X-Amz-Signature=4f7071277ea81188b6218bd49bd0c9e8310a7130cfe869031bf3ca47c8482481&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22background.jpg%22&x-id=GetObject");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #fff !important;
}
.neon {
  font-size: 25px;
  height: 60px;
  min-width: 150px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Balsamiq Sans", cursive;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  transition: all 0.5s;
	padding: 10px;
}

.neon-pink{
	--clr-neon: rgb(247, 20, 255);
}

.neon-green{
	--clr-neon: rgb(59, 255, 20);
}

.neon-tail{
	--clr-neon: rgb(255, 255, 255);
}

.neon-light-blue{
	--clr-neon: rgb(20, 255, 247);
}

.neon-yellow{
	--clr-neon: rgb(255, 255, 20);
}

.neon-yellow:hover{
  color: #000!important;
}

.neon-red{
	--clr-neon: rgba(255, 20, 20, 0.728);
}

.neon-gray{
	--clr-neon: rgb(147, 147, 147);
}

.neon-disabled{
	--clr-neon: rgb(147, 147, 147);
}

.neon-disabled:hover{
	--clr-neon: rgb(147, 147, 147);
  background-color: transparent!important;
	color: var(--clr-neon)!important;
	cursor: default;
}

.neon:hover {
  background-color: var(--clr-neon);
  color: #fff;
}

.neon-border{
		border: 0.2rem solid #fff;
		border-radius: 1.5rem;
		padding: 0.4em;
		box-shadow: 0 0 .2rem #fff,
								0 0 .2rem #fff,
								0 0 2rem var(--clr-neon),
								0 0 0.8rem var(--clr-neon),
								0 0 2.8rem var(--clr-neon),
								inset 0 0 1.3rem var(--clr-neon);
}

.neon-text {
	color: #fff;
  text-shadow:
		0 0 4px var(--clr-neon),
		0 0 11px var(--clr-neon),
		0 0 19px var(--clr-neon),
		0 0 40px var(--clr-neon),
		0 0 80px var(--clr-neon),
		0 0 90px var(--clr-neon),
		0 0 100px var(--clr-neon),
		0 0 150px var(--clr-neon);
}