<div class="row">
  <div class="col">

    <p class="text-3xl mt-5">Add new rule</p>
    <%= render "form", rule: @rule  %>

    <div class="flex justify-center items-center py-8 space-x-5">
      <%= link_to "Back to rules", rules_path, class: "neon neon-gray" %>
    </div>
  </div>
</div>